/* Write your CSS here */
.app-item-container {
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 120px;
  height: 120px;
}
.logo-image {
  width: 50px;
}
.heading {
  font-size: 12px;
  text-align: center;
}
